body{
    font-family: Arial, sans-serif;
    line-height: 1.7;
    background-image: url("abstract-color-chaos-liquid-ink-free-photo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(27, 27, 37);
    font-size: large;
}

main{
    padding: 2rem;
    background-color: rgba(204, 209, 253, 0.9);
    margin: 5rem;
    border-radius: 40px;
}

header{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 1rem;
}

header h1{
    color: #ffffff;
    margin: 0;
    text-align: center;
}

nav ul{
    text-align: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

nav a{
    font-weight: bold;
    color: #3d7bff;
    text-align: center;
}



