body{
  font-family: Arial, sans-serif;
  margin: 35px;
  background-color: #8d8d8d;
}

nav{
  background-color: #27187e;
  padding: 15px;
}

nav a{
  color: rgb(255, 255, 255);
}

table{
    color: rgb(0, 0, 0);
    border-collapse:separate;
    width: 100%;
    text-align: center;
}

th, td{
  border: 2px solid #000000;
  padding: 20px;
}

caption{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 10px;
}

.S { background-color: #f02121; }

.A { background-color: #ffa600; }

.B { background-color: #ffd416; }

.C { background-color: #ddda1b; }

.D { background-color: #21d810; }


form{
  display: flex;
  flex-direction: column;
  max-width:1000px;
}

label{
    color: rgb(250, 250, 250);
    font-weight: bold;
    display: block;
    margin: 10px;
    font-weight: bold;
}

button{
    color: #fdfdfd;
    background-color: rgba(0, 4, 255, 0.774);
}