body {
  background-color: rgb(151, 135, 135);
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  margin-top: 20px;
}

.topnav {
  background-color: rgb(106, 106, 110);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

